// path
$asset-path: '/assets/images' !default;
$font-path: '/assets/fonts' !default;

// colors
$primaryColor: #feea3b;
$secondaryColor: #A0609D;
$lightGrey: #F8F8F8;

$success: green;
$lightSuccess: rgba(0, 255, 0, 0.10);
$warning: orange;
$lightWarning: rgba(255, 155, 0, 0.10);
$error: red;
$lightError: rgba(255, 0, 0, 0.10);

// materialize
$primary-color: $primaryColor !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: $secondaryColor !default;
$secondary-color-light: lighten($secondary-color, 30%) !default;
$secondary-color-dark: darken($secondary-color, 15%) !default;

$input-margin: 0;
