@import 'variables';

@import 'libs/materialize/materialize';

@import 'component/comp-header';

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('#{$asset-path}/background/background-top-white.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-color: $lightGrey;
}

.content {
  padding: 20px;
}
