@import 'variables';

@import 'libs/materialize/materialize';

@import 'component/comp-header';
@import 'component/comp-transactions';

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('#{$asset-path}/background/background-top-white.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  background-color: $lightGrey;
}

.content {
  padding: 20px;
}

.card-action .row {
  margin-bottom: 0;
}

.info,
form.style-error ul li {
  padding: 5px 10px;
}

.info.error,
form.style-error ul li {
  color: $error;
  border: 1px solid $error;
  background: $lightError;
}

.info {
  &.success {
    color: $success;
    border: 1px solid $success;
    background: $lightSuccess;
  }

  &.warning {
    color: $warning;
    border: 1px solid $warning;
    background: $lightWarning;
  }
}

// Scrollbar
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: $secondary-color;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $secondary-color-dark;
}

::-webkit-scrollbar-track {
  background-color: $secondary-color-light;
}

::-webkit-scrollbar-track:hover {
  background-color: $secondary-color-light;
}

::-webkit-scrollbar {
  width: 12px;
}
