<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} - Cacash</title>

        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="icon" sizes="152x152" href="/apple-touch-icon.png">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">

        <link rel="manifest" href="/manifest.webmanifest">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#feea3b">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        {% if app.user %}
            {{ render(path('header')) }}
        {% endif %}

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <script src="{{ asset('js/script.js') }}" type="text/javascript" async></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
