<div class="card">
    <div class="card-content">
        {{ form_start(form) }}
        <div class="row">
            <div class="col l8 s12">
                {{ form_row(form.name) }}
            </div>
            <div class="col l2 offset-l1 s12">
                <br />
                <br />
                {{ form_row(form.starred) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
