{% if accounts %}
    <h4 class="light">Mes comptes</h4>

    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="info success">
            {{ flash_message }}
        </div>
    {% endfor %}

    <div class="collection">
        {% for account in accounts %}
            <a href="{{ path('account', { 'slug': account.slug, 'id': account.id }) }}" class="collection-item">{{ account.name }}<span class="secondary-content">{{ account.balance|price }}</span></a>
        {% endfor %}
    </div>
{% endif %}