table.comp-transactions {
  td, th {
    padding: 5px;
  }

  tbody {
    tr {
      &:hover {
        cursor: pointer;
        background: $secondary-color-light;
      }

      &.credit {
        color: $secondary-color-dark;

        .amount {
          font-weight: bold;
        }
      }
    }
  }
}
