table.comp-transactions {
  td, th {
    padding: 5px;
  }

  thead, tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  tbody {
    display: block;
    overflow: auto;

    tr {
      &:hover {
        cursor: pointer;
        background: $secondary-color-light;
      }

      &.credit {
        color: $secondary-color-dark;

        .amount {
          font-weight: bold;
        }
      }
    }
  }
}
