table.comp-transactions {
  td, th {
    padding: 5px;
  }

  tbody {
    td {
      border-left: 1px solid $secondary-color-light;

      &:first-child {
        border: none;
      }
    }

    tr {
      border-top: 1px solid $secondary-color-light;

      &:first-child {
        border: none;
      }

      &:hover {
        cursor: pointer;
        background: $secondary-color-light;
      }

      &.selected {
        color: white;
        background-color: $secondary-color-dark;
      }

      &.cacagnotte {
        border-top: 10px solid $secondary-color;
      }
    }
  }
}

div.comp-transactions {
  .dataTables_info {
    font-size: 0.8em;
    margin-left: 5px;
  }

  .dt-buttons {
    margin: 5px;
  }

  .card-action {
    input {
      margin-top: -14px;
    }

    .balance {
      margin-top: 10px;
      font-weight: bold;
      color: black !important;
      background-color: $primary-color-light !important;
    }
  }
}