<table class="striped comp-transactions js-transactions"
       data-list="{{ path('list_json_transactions', {'id': account.id}) }}"
       data-delete="{{ path('data_delete_transaction') }}"
       data-check="{{ path('data_check_transaction') }}"
>
    <thead>
        <tr>
            <th>Date</th>
            <th class="hide-on-med-and-down">ID</th>
            <th>Label</th>
            <th class="center-align hide-on-med-and-down">Pointage</th>
            <th class="right-align">Montant</th>
        </tr>
    </thead>
</table>
