<table class="striped comp-transactions js-transactions" data-list="{{ path('list_json_transactions', {'id': account.id}) }}">
    <thead>
        <tr>
            <th>Date</th>
            <th class="hide-on-med-and-down">ID</th>
            <th>Label</th>
            <th class="center-align hide-on-med-and-down">Pointage</th>
            <th class="right-align">Montant</th>
        </tr>
    </thead>
</table>
